<section id="contact" class="py-3">
  <div class="container">
    <h2>Contact</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card p-4">
          <div class="card-body">
            <h4>Get In Touch</h4>
            <p>Information about Marios Psychogios</p>
            <h4>Address</h4>
            <p>Agias Layras 28, Athens</p>
            <h4>Email</h4>
            <p>marios.psychogios@gmail.com</p>
            <h4>Phone</h4>
            <p>6970809715</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card p-4">
          <div class="card-body">
            <h4>EXPERIENCE</h4>
            <p>
              Software Engineer | SINGULAR LOGIC March 2019– current position
            </p>
            <p>Software Engineer| ACCENTURE Aug 2017 – March 2019</p>
            <h4>EDUCATION</h4>
            <p>
              Electrical and Computer Engineering | Technical University of
              Crete
            </p>
            <p>
              Strong technical background and projects on C, Java, MATLAB,
              MySQL, VHDL, Calculation Theory and Telecommunications
            </p>

            <h4>AVAILABILITY & REFERENCES</h4>
            <p>I can start immediately.</p>
            <h4>INTERESTS</h4>
            <p>Football Gym Running</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
